/*Banner start////////////*/

	#banner {
		/*min-height: 20rem;*/
		height: 16rem;
		background: url(../img/banner.jpg) no-repeat;
		/*background-size: cover;*/
		/*background-size: 100%;*/
		/*padding-top: 71.4%;*/
		background-attachment: fixed;
	}
	#banner .wrapper{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: flex;
        height: 100%;
        justify-content:center;
        align-items: center;
        color: #fff;
    }
	#banner .banner-thumb, .banner-content, .banner-contact{
        /*width: 33%;*/
        display: flex;
        flex-direction: column;
        /*align-content:center;*/
        justify-content:center;
        align-items: center;
    }
    #banner .banner-thumb img{
        width: 7rem;
        height: 7rem;
    }
    #banner .banner-content {
        text-align: center;
        color: #fff;
        right: 8rem;
        top: 5rem;
    }

	#banner h1 {
		letter-spacing: 2px;
		margin: 0.5rem;
	}
    #banner h2{
        letter-spacing: 2px;
        margin: 0.5rem;
        font-family: "ESPRB";

    }
    #banner .banner-contact p{
        font-family: "AppleChancery";
        margin: 0.5rem;
        font-size: 1.2rem;
    }


/*Banner end//////////*/

@media (min-width: 768px){
    #banner .banner-thumb, .banner-content, .banner-contact{
        width: 33%;
    }
}

@media (min-width: 400px) and (max-width: 767px){
    #banner .wrapper{
        display: block;
        display: inline-block;
        verticle-align: middle;
    }
    #banner .banner-thumb, .banner-content, .banner-contact{
        width: 49%;
        float: left;
    }
}







