#blog .catalog{
    position: relative;
    height: 3.3rem;
    margin-bottom: 1rem;
}
#blog .catalog ul{
    /*width: 100%;*/
    /*display: inline-block;*/
    display: -webkit-box;
    /*-webkit-box-pack: center;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


}
#blog .catalog li{
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-family: 'Cinzel', serif;
    margin: 1rem;
    font-weight: 300;
    /*float: left;*/
}
#blog .catalog li:hover{
    border-bottom: 2px solid orange;
    color: orange;
}

#blog .catalog .current{
    border-bottom: 2px solid orange;
    color: orange;
}
#blog .blogs{
    /*float: left;*/
}
#blog .blog-container{
    /*display: -webkit-box;*/
    /*-webkit-box-pack: justify;*/
}

@media (min-width: 1200px) {
    #blog .blog-container {
        width: 57rem;
        margin: 0 auto;
    }
    #blog .blogs {
        /*box-sizing: border-box;*/
        /*width: 29.3%;*/
        /*margin: 2%;*/
        width: 33.1%;
        margin: 0.1%;
    }
    #blog img {
        /*width: 17.5rem;*/
        /*height: 12rem;*/
        width: 100%;
    }

}
@media (max-width: 1200px) {
    #blog .blog-container{
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
    #blog .blogs {
        /*box-sizing: border-box;*/
        /*width: 29.3%;*/
        /*margin: 2%;*/
        width: 33.1%;
        margin: 0.1%;
    }
    #blog img {
        /*width: 14.5rem;*/
        /*height: 10rem;*/
        width: 100%;
    }
}
@media (max-width: 768px) {
    #blog .blog-container{
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
    #blog .blogs {
        width: 49%;
        margin: 0.5%;

    }
}
@media (max-width: 480px) {
    #blog .blogs {
        width: 96%;
        margin: 2%;
    }
}
#blog .blogs {
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
}

#blog .blog-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 193, 79, 0.82);
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
#blog .blog-content:hover .blog-mask{
    /*left: 0;*/
    transform: translateX(0);

}
/*#blog .blogs-wrapper{*/
/*position: relative;*/
/*}*/

#blog .blog-mask{
    padding: 1rem;
    box-sizing: border-box;
}
#blog .blog-info{
    color: #ffffff;
    font-size: 1.4rem;
    /*margin: 1rem;*/
}