#blog{
    /*background-color: #efefef;*/
    /*background-color: #F7FAFF;*/
}
.catalog{
    position: relative;
    height: 3.3rem;
    margin-bottom: 1rem;
}
.catalog ul{
    /*width: 100%;*/
    /*display: inline-block;*/
    display: -webkit-box;
    /*-webkit-box-pack: center;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.catalog li{
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-family: 'Cinzel', serif;
    margin: 1rem;
    font-weight: 300;
    /*float: left;*/
}
.catalog li:hover{
    border-bottom: 2px solid orange;
    color: orange;
}

.catalog .current{
    border-bottom: 2px solid orange;
    color: orange;
}
@media (min-width: 1200px) {
    #blog .blog-container {
        width: 57rem;
        margin: 0 auto;
    }
    #blog .blogs {
        /*box-sizing: border-box;*/
        /*width: 29.3%;*/
        /*margin: 2%;*/
        width: 33.1%;
        margin: 0.1%;
    }
}
@media (max-width: 1200px) {
    #blog .blog-container{
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
    #blog .blogs {
        /*box-sizing: border-box;*/
        /*width: 29.3%;*/
        /*margin: 2%;*/
        width: 33.1%;
        margin: 0.1%;
    }
}
@media (max-width: 768px) {
    #blog .blog-container{
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
    #blog .blogs {
        width: 49%;
        margin: 0.5%;

    }
}
@media (max-width: 480px) {
    #blog .blogs {
        width: 96%;
        margin: 2%;
    }
}
#blog .blogs {
    position: relative;
    float: left;
    height: 100%;
    /*overflow: hidden;*/
}
#blog img {
    /*width: 17.5rem;*/
    /*height: 12rem;*/
    width: 100%;

}
#blog .blog-mask{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(255, 193, 79, 0.82);*/
    background: rgba(208, 131, 81, 0.15);
    position: absolute;
    top: 0;
    opacity: 0;
    /*transform: translateX(-100%);*/
    transition: all 0.5s ease;
}
#blog .blog-mask-info{
    /*margin: 10%;*/

    width: 80%;
    height: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5%;
    border: 1px solid #D0AF51;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
     -webkit-flex-direction: column;
    -ms-flex-direction: column;
     flex-direction: column;

}
#blog .blog-mask-info p{
    margin-bottom: 0.5rem;
}
#blog .blog-mask-info p:last-child{
    color: #fff;
}
#blog .blog-mask-info i{
    font-size: 1.7rem;
    color: #D0AF51;

}
#blog .blog-content:hover .blog-mask{
    /*left: 0;*/
    /*transform: translateX(0);*/
    opacity: 1;
}
#blog .blog-content:hover img {
    filter: blur(3px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
}


/*#blog .blogs-wrapper{*/
/*position: relative;*/
/*}*/

#blog .blog-mask{
    /*padding: 1rem;*/
    /*box-sizing: border-box;*/
}
#blog .blog-info{
    color: #ffffff;
    color: #D0AF51;
    font-size: 1rem;
    /*margin: 1rem;*/
}
#blog .blog-all{
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
#blog .blog-all a{
    color: #D0AF51;
    font-size: 0.7rem;
    /*color: orange;*/
    position: relative;
}
#blog .blog-all a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    /*left: -100%;*/
    right: 120%;
    width: 10rem;
    height: 1px;
    border-top: 1px solid #D0AF51;
}