html{
	font-size: 20px;

}
html, body{
	height: 100%;
}
h1, h2, h3, h4, h5, h6{
	/*font-family: "AppleChancery";*/
	font-family: 'Raleway', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Overlock', cursive;
	font-family: "ESPRB";
	font-family: "AppleChancery";
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Raleway-Black';
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Cinzel', serif;

}
body{
	font-family: 'Raleway', sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Cinzel', serif;
	font-family: 'Overlock', cursive;
	font-family: "ESPRB";
	font-family: "AppleChancery";
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Raleway-Black';

}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
ul{
	list-style: none;
}
img{
	border: none;
}
@media (min-width: 1024px) {
	.wrapper {
		width: 50rem;
		margin: 0 auto;
	}

}
@media (max-width: 1024px) {
	.wrapper {
		/*display: flex;*/
		box-sizing: border-box;
		width: 100%;
		padding: 0 2rem;
	}
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.title{
	font-size: 2rem;
	text-align: center;
	padding: 4rem 0 2rem 0;
	font-family: 'Cinzel', serif;

}
.title::after{
	content: "";
	display: block;
	background-color: orange;
	width: 65px;
	height: 3px;
	margin: 1rem auto;
}

.line::after{
	content: "";
	display: block;
	background-color: orange;
	width: 65px;
	height: 3px;
	margin: 1rem auto;
}


.test{
	height: 100rem;
	font-family: "AppleChancery";
	font-family: 'Cinzel', serif;
	font-family: 'Raleway', sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Cinzel', serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Overlock', cursive;
	font-family: 'Raleway-Black';

	font-size: 38px;
	/*background-color: #ccc;*/
}









